BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowAllArgumentsOnNextLine: false
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 2
PointerAlignment: Left
ReflowComments: true
CommentPragmas: '^.*$'
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceBeforeInheritanceColon: true
SortIncludes: false
